services:
  - type: web
    name: orbit-fall
    runtime: node
    plan: free
    region: frankfurt
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      # We don't define DATABASE_URL here to keep it secret.
      # You should link an "Environment Group" in the Render UI 
      # to provide the DATABASE_URL to both Production and PR Previews.
    autoDeploy: true
