name: Render Preview Deploy

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  deployments: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Render
        uses: JorgeLNJunior/render-deploy@v1.5.0
        with:
          service_id: srv-d67s1b7pm1nc738lvm80
          api_key: ${{ secrets.RENDER_API_KEY }}
          github_deployment: true
          deployment_environment: 'preview'
